<div class="container-fluid">
  <label>Delete Order:</label>
<form [formGroup]="orderForm" (submit)="deleteOrder()">
      <label for="id" class="form-component">Order ID </label><br>
      <input id="id" class="input" type="text" placeholder="ID" formControlName="id"><br>
      @if (orderForm.controls.id.invalid && orderForm.controls.id.touched) {
        @if (orderForm.controls.id.errors?.['required']) {
            <small>*ID is a required field</small>
            <br>
        }
        @if (orderForm.controls.id.errors?.['pattern']) {
          <small>*ID must be a number</small>
          <br>
      }
    }
      <button class="btn btn-primary" type="submit" [disabled]="orderForm.invalid">Delete</button><br>
</form>
</div>

